DATABASE_URL="file:../data/standalone.db"
STANDALONE_DATA_DIR="./data/json"
STANDALONE_MEDIA_DIR="./data/media"
ENCRYPTION_KEY="replace-with-64-hexadecimal-characters"
STANDALONE_EVAL_CONCURRENCY="2"
STANDALONE_HOST="127.0.0.1"
PORT="3000"
